body {
    background-image: url('./img/mess.jpg');
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

h1, p, ul {
    color: #fff;
}
section {
    height: 100vh;
}

.slides {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}
.slide.active {
    display: block;
    opacity: 1;
}
.slide h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #faf6f6;

}
.slide p, .slide ul {
    font-size: 1.5em;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left     ;
}
.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.controls button {
    background-color: #0000ff75;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.controls button:hover {
    background-color: #0056b3;
}
.controls button:focus {
    outline: none;
}

header {
    text-align: center;
    padding: 10px;
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    font-size: 25px;
    margin: 0 10px;
    color: #808080; 
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff;

}
.media-links {
    text-align: center;
    margin: 20px 0;
}

.media-links img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

/* Animación de entrada para los slides */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de entrada para el texto */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide.active {
    animation: slideIn 0.5s ease-in-out;
}

.slide h1, .slide p, .slide ul {
    animation: fadeInText 3s ease-out;
}
.controls button {
    background-color: #1b059775; /* Color de fondo con transparencia */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Agranda el botón en hover */
}

.controls button:focus {
    outline: none;
}
